.container {}

.button {
  filter: hue-rotate(60deg);
}

.button+.button {
  margin-inline-start: .5em;
}

.flowColorful {
  height: 100px;
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, purple);
  animation: hue 6s linear infinite;
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

.flowSlogon {
  font-size: 100px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, red, yellow, lime, aqua, blue, fuchsia);
  animation: hue 6s linear infinite;
}

.waterMark {
  width: 256px;
  height: 192px;
  position: relative;
  font-size: 14px;
}

.waterMark::before {
  content: "cssworld.cn";
  position: absolute;
  mix-blend-mode: overlay;
  text-shadow: 10ch 2em, -10ch 2em, 10ch -2em, -10ch -2em, 0 -5em, 0 5em;
  transform: rotate(-30deg);
  left: calc(50% - 5ch);
  top: 90px;
  z-index: 1;
}